body {
    background: black;
}

/* ------------------Star of Audio Styling */

audio {
    display: flex;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 93%;
    left: 42.3%;
}


/* --------------------End of Audio Styling */

/* ----------------------------Start of Background behind the Questions */

.background {
    display: flex;
    position: absolute;
    top: 100px;
    left: 350px;
    padding: 400px 600px;
    animation: backgroundBass 0.4s linear infinite, backgroundBassColor 5s linear infinite;
    transition: ease-in-out;
    background: black;
    z-index: -5;
    border-radius: 20px;
}

/* ----------------------------End of Background behind the Questions */

/* --------------------------------Start of functioning Game */

.game-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

#question {
    font-family: 'Changa', sans-serif;
    text-shadow: 0 0 20px white;
    animation: headerBass 0.4s ease-in-out infinite;
}

/* --------------------------------------------Start of Answers\Choices Section */

.choices-abcd {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    border: 1px solid #fff;
    border-radius: 10pX;
    margin-bottom: 30px;
    font-size: 30px;
    cursor: pointer;
    background: black;
}


.choices-abcd::before {
    opacity: 0;
    content: '';
    position: absolute;
    bottom: -2px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding: 1px;
    background: linear-gradient(90deg, #fff, #03fc41, #03f0fc, #fc0377, #fcdf03);
    z-index: -2;
}

.choices-abcd::after {
    opacity: 0;
    content: '';
    border-radius: 20px;
    position: absolute;
    bottom: -2px;
    height: 100%;
    width: 100%;
    padding: 1px;
    background: linear-gradient(90deg, rgb(195, 0, 255), #03fc41, #03f0fc, #fc0377, #fcdf03);
    z-index: -2;
    animation: backgroundGradiant 30s linear infinite;
    filter: blur(20px);
}

.choices-abcd:hover::before,
.choices-abcd:hover::after {
    opacity: 1;
    transform: scale(1.1);
    filter: blur(10px);
}

.choices-abcd:hover {
    transition: ease-in-out;
    border: 1px solid white;
}

.choice-text {
    width: 75%;
    border-radius: 20px;
    text-align: center;
}

.c2 .c3 .c4 {
    position: relative;
    top: 30px;
}

.a1 {
    border: 1px solid #03fc41;
}
.b2 {
    border: 1px solid #03f0fc;
}
.c33 {
    border: 1px solid #fc0377;
}
.d4 {
    border: 1px solid #fcdf03;
}

/* --------------------------------------------End of Answers\Choices Section */

/* ---------------Start of Score and Timer Section */

#timer {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: end;
    position: relative;
    right: 2%;
    font-size: 80px;
    animation-duration: 0.4s;
}

.score-hud {
    display: flex;
    justify-content: start;
    color: white;
    font-size: 50px;
    position: relative;
    bottom: 28%;
}

.score-hud h1 {
    text-decoration: underline white;
    animation-duration: 0.4s;
}

.score-hud h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    top: 130px;
    right: 220px;
}

#add-score {
    position: absolute;
    left: -1080px;
    color: rgb(5, 209, 5);
    text-shadow: 0 0 20px white;
}

.score-up {
    animation: correct 1s linear;
    transition: ease-in-out;
}

.hide-adding-score {
    display: none;
}

/* ---------------------------------End of Score and Timer Section */

/* -----------------------------------------End of functioning Game */

.slow-orbs {
    display: flex;
    position: absolute;
    bottom: 80%;
    z-index: -5;
    animation: orbSlowBass 0.4s ease-in-out infinite;
}

.slow-orbs span {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: calc(200px * var(--orb));
    right: calc(200px * var(--orb));
}

.slow-orbs span::before {
    content: '';
    position: absolute;
    bottom: 238px;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
}

.slow-orbs span:nth-child(9n + 1) {
    animation: bounce 5s linear infinite alternate;
    animation-delay: 3.5s;
}

.slow-orbs span:nth-child(9n + 1)::before {
    background: #00d5ff;
    box-shadow: 0 0 20px rgba(var(--bright-blue), 1),
    0 0 40px rgba(var(--bright-blue), 1),
    0 0 60px rgba(var(--bright-blue), 1),
    0 0 80px rgba(var(--bright-blue), 1),
    0 0 0 8px rgba(var(--bright-blue), .1);
}

.slow-orbs span:nth-child(9n + 2) {
    animation: bounce2 5s linear infinite alternate;
    animation-delay: 2.5s;
}

.slow-orbs span:nth-child(9n + 2)::before {
    background: #aeff00;
    box-shadow: 0 0 20px rgba(var(--yellow-green), 1),
    0 0 40px rgba(var(--yellow-green), 1),
    0 0 60px rgba(var(--yellow-green), 1),
    0 0 80px rgba(var(--yellow-green), 1),
    0 0 0 8px rgba(var(--yellow-green), .1);
}

.slow-orbs span:nth-child(9n + 3) {
    animation: bounce3 7s linear infinite alternate;
    animation-delay: 0.5s;
}

.slow-orbs span:nth-child(9n + 3)::before {
    background: #00ff55;
    box-shadow: 0 0 20px rgba(var(--green-blue), 1),
    0 0 40px rgba(var(--green-blue), 1),
    0 0 60px rgba(var(--green-blue), 1),
    0 0 80px rgba(var(--green-blue), 1),
    0 0 0 8px rgba(var(--green-blue), .1);
}

.slow-orbs span:nth-child(9n + 4) {
    animation: bounce4 8s linear infinite alternate;
    animation-delay: 4s;
}

.slow-orbs span:nth-child(9n + 4)::before {
    background: #d6fff8;
    box-shadow: 0 0 20px rgba(var(--ice-white), 1),
    0 0 40px rgba(var(--ice-white), 1),
    0 0 60px rgba(var(--ice-white), 1),
    0 0 80px rgba(var(--ice-white), 1),
    0 0 0 8px rgba(var(--ice-white), .1);
}

.slow-orbs span:nth-child(9n + 5) {
    animation: bounce5 8s linear infinite alternate;
    animation-delay: 3.5s;
}

.slow-orbs span:nth-child(9n + 5)::before {
    background: #ff00e6;
    box-shadow: 0 0 20px rgba(var(--bright-pink), 1),
    0 0 40px rgba(var(--bright-pink), 1),
    0 0 60px rgba(var(--bright-pink), 1),
    0 0 80px rgba(var(--bright-pink), 1),
    0 0 0 8px rgba(var(--bright-pink), .1);
}

.slow-orbs span:nth-child(9n + 6) {
    animation: bounce6 9s linear infinite alternate;
    animation-delay: 1s;
}

.slow-orbs span:nth-child(9n + 6)::before {
    background: #ff6600;
    box-shadow: 0 0 20px rgba(var(--orange-sun), 1),
    0 0 40px rgba(var(--orange-sun), 1),
    0 0 60px rgba(var(--orange-sun), 1),
    0 0 80px rgba(var(--orange-sun), 1),
    0 0 0 8px rgba(var(--orange-sun), .1);
}

.slow-orbs span:nth-child(9n + 7) {
    animation: bounce7 9s linear infinite alternate;
    animation-delay: 4s;
}

.slow-orbs span:nth-child(9n + 7)::before {
    background: #0026ff;
    box-shadow: 0 0 20px rgba(var(--dark-sky), 1),
    0 0 40px rgba(var(--dark-sky), 1),
    0 0 60px rgba(var(--dark-sky), 1),
    0 0 80px rgba(var(--dark-sky), 1),
    0 0 0 8px rgba(var(--dark-sky), .1);
}

.slow-orbs span:nth-child(9n + 8) {
    animation: bounce8 10s linear infinite alternate;
    animation-delay: 0.4s;
}

.slow-orbs span:nth-child(9n + 8)::before {
    background: #d900ff;
    box-shadow: 0 0 20px rgba(var(--elixir-purple), 1),
    0 0 40px rgba(var(--elixir-purple), 1),
    0 0 60px rgba(var(--elixir-purple), 1),
    0 0 80px rgba(var(--elixir-purple), 1),
    0 0 0 8px rgba(var(--elixir-purple), .1);
}

.slow-orbs span:nth-child(9n + 9) {
    animation: bounce9 10s linear infinite alternate;
    animation-delay: 3s;
}

.slow-orbs span:nth-child(9n + 9)::before {
    background: #ff2200;
    box-shadow: 0 0 20px rgba(var(--lava-red), 1),
    0 0 40px rgba(var(--lava-red), 1),
    0 0 60px rgba(var(--lava-red), 1),
    0 0 80px rgba(var(--lava-red), 1),
    0 0 0 8px rgba(var(--lava-red), .1);
}


@keyframes backgroundGradiant {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 600px 0;
    }
    50% {
        background-position: 1200px 0;
    }

    75% {
        background-position: 1500px 0;
    }

    100% {
        background-position: 1800px 0;
    }
}

@keyframes bassColour {
    0% {
        transform: scale(1);
    }
    25% {
        border: 3px white solid;
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }

    75% {
        border: 3px white solid;
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes backgroundBass {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }

    75% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes backgroundBassColor {
    0% {
        box-shadow: 0 0 20px white;
    }
    20% {
        box-shadow: 0 0 20px red;
    }
    40% {
        box-shadow: 0 0 20px orangered;
    }

    60% {
        box-shadow: 0 0 20px yellow;
    }
    
    80% {
        box-shadow: 0 0 20px green;
    }
    90% {
        box-shadow: 0 0 20px turquoise;
    }
    100% {
        box-shadow: 0 0 20px rgb(255, 0, 170);
    }
}

@keyframes orbSlowBass {
    0% {
        filter: hue-rotate(0deg);
    }
    25% {
      
    }
    50% {
        filter: hue-rotate(180deg);
    }

    75% {
        
    }
    
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes correct {
    0% {
        opacity: 0.5;
        transform: translateY(0px);
    }

    25% {
        opacity: 1;
        transform: translateY(-25px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50px);
    }
    75% {
        opacity: 1;
        transform: translateY(-75px);
    }
    100% {
        opacity: 0.5;
        transform: translateY(-100px);
    }
}