.body {
    color: #fff;
    background: black;
}

.highscore-page {
    color: #fff;
}

ul {
    display: flex;
    flex-direction: column;
    z-index: -5;
    overflow: hidden;
    position: relative;
}

li {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

h1 {
    display: flex;
    justify-content: space-around;
    position: relative;
    color: #fff;
    animation: none;
    text-shadow: none;
    border-bottom: 1px solid white;
    border-radius: 0%;
}

.letter {
    font-size: 120px;
    animation: fade 1s linear infinite;
    animation-delay: calc(0.1s * var(--i));
    transition: ease-in-out;
    margin: 0;
}

.btn {
    font-size: 50px;
    position: absolute; top: 70%;
    right: 43%;
}
