.body {
    color: #fff;
    background: black;
}

audio {
    position: relative;
    left: 43.4%;
    top: 90%;
}

.highscore-page {
    color: #fff;
    position: relative;
    bottom: 10%;
}

/* ------------------------------------Start of Highscore List */

h1 {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0;
    color: #fff;
    animation: none;
    text-shadow: none;
    border-bottom: 1px solid white;
    border-radius: 0%;
}

ul {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 37.5%;
    margin: 100px 0;
    background: black;
    width: 25%;
    box-shadow: 0 0 20px white;
    border-radius: 20px;
    animation: scoreBass .445s linear infinite;
}

li {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    right: 20px;
    padding: 10px 0;
    border-bottom: 1px white solid;
    text-shadow: 0 0 20px rgb(51, 51, 51);
}

/* --------------------------------------------End of HighScore List */

.letter {
    font-size: 120px;
    animation: fade 1s linear infinite;
    animation-delay: calc(0.1s * var(--ldrBrdSqnce));
    transition: ease-in-out;
    margin: 0;
}

.btn {
    font-size: 30px;
    display: flex;
    position: relative;
    left: 45%;
    width: 200px;
}

/* ---------------------------------------------Start of Orbs */

.highscore-Orbs {
    display: flex;
    position: absolute;
    top: -200px;
    z-index: -5;
}

.highscore-Orbs span {
    display: flex;
    position: absolute;
    left: calc(200px * var(--orb));
    right: calc(200px * var(--orb));
}

.highscore-Orbs span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 40%;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
}

.highscore-Orbs span:nth-child(9n + 1) {
    animation: bounce 5s linear infinite alternate;
    animation-delay: 5s;
}

.highscore-Orbs span:nth-child(9n + 1)::before {
    background: #00d5ff;
    box-shadow: 0 0 20px rgba(var(--bright-blue), 1),
        0 0 40px rgba(var(--bright-blue), 1),
        0 0 60px rgba(var(--bright-blue), 1),
        0 0 80px rgba(var(--bright-blue), 1),
        0 0 0 8px rgba(var(--bright-blue), .1);
}

.highscore-Orbs span:nth-child(9n + 2) {
    animation: bounce2 6.5s linear infinite alternate;
    animation-delay: 4s;
}

.highscore-Orbs span:nth-child(9n + 2)::before {
    background: #aeff00;
    box-shadow: 0 0 20px rgba(var(--yellow-green), 1),
        0 0 40px rgba(var(--yellow-green), 1),
        0 0 60px rgba(var(--yellow-green), 1),
        0 0 80px rgba(var(--yellow-green), 1),
        0 0 0 8px rgba(var(--yellow-green), .1);
}

.highscore-Orbs span:nth-child(9n + 3) {
    animation: bounce3 6s linear infinite alternate;
    animation-delay: 3s;
}

.highscore-Orbs span:nth-child(9n + 3)::before {
    background: #00ff55;
    box-shadow: 0 0 20px rgba(var(--green-blue), 1),
        0 0 40px rgba(var(--green-blue), 1),
        0 0 60px rgba(var(--green-blue), 1),
        0 0 80px rgba(var(--green-blue), 1),
        0 0 0 8px rgba(var(--green-blue), .1);
}

.highscore-Orbs span:nth-child(9n + 4) {
    animation: bounce4 7.5s linear infinite alternate;
    animation-delay: 2s;
}

.highscore-Orbs span:nth-child(9n + 4)::before {
    background: #d6fff8;
    box-shadow: 0 0 20px rgba(var(--ice-white), 1),
        0 0 40px rgba(var(--ice-white), 1),
        0 0 60px rgba(var(--ice-white), 1),
        0 0 80px rgba(var(--ice-white), 1),
        0 0 0 8px rgba(var(--ice-white), .1);
}

.highscore-Orbs span:nth-child(9n + 5) {
    animation: bounce5 7s linear infinite alternate;
    animation-delay: 1s;
}

.highscore-Orbs span:nth-child(9n + 5)::before {
    background: #ff00e6;
    box-shadow: 0 0 20px rgba(var(--bright-pink), 1),
        0 0 40px rgba(var(--bright-pink), 1),
        0 0 60px rgba(var(--bright-pink), 1),
        0 0 80px rgba(var(--bright-pink), 1),
        0 0 0 8px rgba(var(--bright-pink), .1);
}

.highscore-Orbs span:nth-child(9n + 6) {
    animation: bounce6 8.5s linear infinite alternate;
    animation-delay: 2s;
}

.highscore-Orbs span:nth-child(9n + 6)::before {
    background: #ff6600;
    box-shadow: 0 0 20px rgba(var(--orange-sun), 1),
        0 0 40px rgba(var(--orange-sun), 1),
        0 0 60px rgba(var(--orange-sun), 1),
        0 0 80px rgba(var(--orange-sun), 1),
        0 0 0 8px rgba(var(--orange-sun), .1);
}

.highscore-Orbs span:nth-child(9n + 7) {
    animation: bounce7 8s linear infinite alternate;
    animation-delay: 3s;
}

.highscore-Orbs span:nth-child(9n + 7)::before {
    background: #0026ff;
    box-shadow: 0 0 20px rgba(var(--dark-sky), 1),
        0 0 40px rgba(var(--dark-sky), 1),
        0 0 60px rgba(var(--dark-sky), 1),
        0 0 80px rgba(var(--dark-sky), 1),
        0 0 0 8px rgba(var(--dark-sky), .1);
}

.highscore-Orbs span:nth-child(9n + 8) {
    animation: bounce8 9.5s linear infinite alternate;
    animation-delay: 4s;
}

.highscore-Orbs span:nth-child(9n + 8)::before {
    background: #d900ff;
    box-shadow: 0 0 20px rgba(var(--elixir-purple), 1),
        0 0 40px rgba(var(--elixir-purple), 1),
        0 0 60px rgba(var(--elixir-purple), 1),
        0 0 80px rgba(var(--elixir-purple), 1),
        0 0 0 8px rgba(var(--elixir-purple), .1);
}

.highscore-Orbs span:nth-child(9n + 9) {
    animation: bounce9 9s linear infinite alternate;
    animation-delay: 5s;
}

.highscore-Orbs span:nth-child(9n + 9)::before {
    background: #ff2200;
    box-shadow: 0 0 20px rgba(var(--lava-red), 1),
        0 0 40px rgba(var(--lava-red), 1),
        0 0 60px rgba(var(--lava-red), 1),
        0 0 80px rgba(var(--lava-red), 1),
        0 0 0 8px rgba(var(--lava-red), .1);
}

/* ---------------------------------------------------------End of Orbs */

/* ------------------------------Start of Keyframes */
@keyframes highscore-Orbs {
    0% {
        transform: rotate(0deg);
        transform: scale(1);
    }

    25% {
        transform: scale(1);
    }

    50% {

        transform: scale(1.03);

    }

    75% {
        transform: scale(1);

    }

    100% {
        transform: rotate(360deg);
        transform: scale(1);
    }
}

@keyframes scoreBass {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.03);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

/* ---------------------------------End of Keyframes */