@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


:root {
    --green-blue: 0, 255, 85;
    --bright-pink: 255, 0, 230;
    --bright-blue: 0, 213, 255;
    --yellow-green: 174, 255, 0;
    --orange-sun: 255, 102, 0;
    --dark-sky: 0, 38, 255;
    --ice-white: 214, 255, 248;
    --lava-red: 255, 34, 0;
    --elixir-purple: 217, 0, 255;
}

body {
    background-color: black;
    overflow: hidden;
}

h1 {
    font-family: 'Changa', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 0;
    border-radius: 50px;
    font-size: 100px;
    animation: headerBass 0.35s ease-in-out infinite;
    text-shadow: 0 0 50px white;
}

.landing-page {
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------------------------------------Start of Buttons */

a {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 12px;
    border: 3px #fff solid;
    border-radius: 50px;
}

a:hover {
    color: black;
    background: #fff;
    animation: pulse 1s linear infinite;
    transition: ease-in-out;
}

.highscore-btn {
    position: relative;
    top: 100px;
}

/* --------------------------------------------End of Buttons */


/* -----------------------------------------Start of Audio Styling */

.player {
    display: flex;
    color: white;
    font-size: 50px;
    position: relative;
    left: 160px;
    top: 380px;
}

audio::-webkit-media-controls-panel {
    display: flex;
    justify-content: space-around;
}

audio::-webkit-media-controls-play-button {
    position: absolute;
}

audio::-webkit-media-controls-timeline {
    display: none;
}

audio::-webkit-media-controls-current-time-display {
    display: none;
}

audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

/* --------------------------------------------------------End of Audio Styling */

/* --------------------------------------------------------- Start of Orbs */
.home-orbs-position {
    position: relative;
    right: 50px;
    bottom: 25%;
    animation: blinkOrb 2s linear;
    animation-delay: 17.5s;
}

.orbs {
    display: flex;
    position: absolute;
    z-index: -5;
    animation: orbBass 0.4s ease-in-out infinite;
}

.orbs span {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: calc(200px * var(--orb));
    right: calc(200px * var(--orb));
}

.orbs span::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    filter: blur(20px);
}

.orbs span:nth-child(9n + 1) {
    animation: bounce 0.3s linear infinite alternate;
    animation-delay: 6.5s;
}

.orbs span:nth-child(9n + 1)::before {
    background: #00d5ff;
    box-shadow: 0 0 20px rgba(var(--bright-blue), 1),
        0 0 40px rgba(var(--bright-blue), 1),
        0 0 60px rgba(var(--bright-blue), 1),
        0 0 80px rgba(var(--bright-blue), 1),
        0 0 0 8px rgba(var(--bright-blue), .1);
}

.orbs span:nth-child(9n + 2) {
    animation: bounce2 0.3s linear infinite alternate;
    animation-delay: 12s;
}

.orbs span:nth-child(9n + 2)::before {
    background: #aeff00;
    box-shadow: 0 0 20px rgba(var(--yellow-green), 1),
        0 0 40px rgba(var(--yellow-green), 1),
        0 0 60px rgba(var(--yellow-green), 1),
        0 0 80px rgba(var(--yellow-green), 1),
        0 0 0 8px rgba(var(--yellow-green), .1);
}

.orbs span:nth-child(9n + 3) {
    animation: bounce3 0.3s linear infinite alternate;
    animation-delay: 19.4s;
}

.orbs span:nth-child(9n + 3)::before {
    background: #00ff55;
    box-shadow: 0 0 20px rgba(var(--green-blue), 1),
        0 0 40px rgba(var(--green-blue), 1),
        0 0 60px rgba(var(--green-blue), 1),
        0 0 80px rgba(var(--green-blue), 1),
        0 0 0 8px rgba(var(--green-blue), .1);
}

.orbs span:nth-child(9n + 4) {
    animation: bounce4 0.3s linear infinite alternate;
    animation-delay: 19.17s;
}

.orbs span:nth-child(9n + 4)::before {
    background: #d6fff8;
    box-shadow: 0 0 20px rgba(var(--ice-white), 1),
        0 0 40px rgba(var(--ice-white), 1),
        0 0 60px rgba(var(--ice-white), 1),
        0 0 80px rgba(var(--ice-white), 1),
        0 0 0 8px rgba(var(--ice-white), .1);
}

.orbs span:nth-child(9n + 5) {
    animation: bounce5 0.3s linear infinite alternate;
    animation-delay: 1s;
}

.orbs span:nth-child(9n + 5)::before {
    background: #ff00e6;
    box-shadow: 0 0 20px rgba(var(--bright-pink), 1),
        0 0 40px rgba(var(--bright-pink), 1),
        0 0 60px rgba(var(--bright-pink), 1),
        0 0 80px rgba(var(--bright-pink), 1),
        0 0 0 8px rgba(var(--bright-pink), .1);
}

.orbs span:nth-child(9n + 6) {
    animation: bounce6 0.3s linear infinite alternate;
    animation-delay: 19.13s;
}

.orbs span:nth-child(9n + 6)::before {
    background: #ff6600;
    box-shadow: 0 0 20px rgba(var(--orange-sun), 1),
        0 0 40px rgba(var(--orange-sun), 1),
        0 0 60px rgba(var(--orange-sun), 1),
        0 0 80px rgba(var(--orange-sun), 1),
        0 0 0 8px rgba(var(--orange-sun), .1);
}

.orbs span:nth-child(9n + 7) {
    animation: bounce7 0.3s linear infinite alternate;
    animation-delay: 19.25s;
}

.orbs span:nth-child(9n + 7)::before {
    background: #0026ff;
    box-shadow: 0 0 20px rgba(var(--dark-sky), 1),
        0 0 40px rgba(var(--dark-sky), 1),
        0 0 60px rgba(var(--dark-sky), 1),
        0 0 80px rgba(var(--dark-sky), 1),
        0 0 0 8px rgba(var(--dark-sky), .1);
}

.orbs span:nth-child(9n + 8) {
    animation: bounce8 0.3s linear infinite alternate;
    animation-delay: 13.5s;
}

.orbs span:nth-child(9n + 8)::before {
    background: #d900ff;
    box-shadow: 0 0 20px rgba(var(--elixir-purple), 1),
        0 0 40px rgba(var(--elixir-purple), 1),
        0 0 60px rgba(var(--elixir-purple), 1),
        0 0 80px rgba(var(--elixir-purple), 1),
        0 0 0 8px rgba(var(--elixir-purple), .1);
}

.orbs span:nth-child(9n + 9) {
    animation: bounce9 0.3s linear infinite alternate;
    animation-delay: 7.5s;
}

.orbs span:nth-child(9n + 9)::before {
    background: #ff2200;
    box-shadow: 0 0 20px rgba(var(--lava-red), 1),
        0 0 40px rgba(var(--lava-red), 1),
        0 0 60px rgba(var(--lava-red), 1),
        0 0 80px rgba(var(--lava-red), 1),
        0 0 0 8px rgba(var(--lava-red), .1);
}

/* ----------------------------------------------End of Orbs */

@keyframes fade {
    0% {
        color: rgb(209, 209, 209);
        filter: hue-rotate(0deg);
        text-shadow: 0 0 10px #00ff73, 0 0 20px #00ccff, 0 0 40px #0084ff, 0 0 80px #ae00ff, 0 0 120px #ff0077, 0 0 200px #ff0040, 0 0 300px #ff7b00, 0 0 400px #bbff00;
    }

    30%, 70% {
        color: rgb(245, 245, 245);
        filter: hue-rotate(360deg);
    }

    100% {
        color: #fff;
        box-shadow: none;
        filter: hue-rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    40% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5)
    }

    80% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.3);
    }

    100% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(1400px);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(1600px);
    }
}

@keyframes bounce3 {
    0% {
        transform: translateY(1200px);
    }
}

@keyframes bounce4 {
    0% {
        transform: translateY(1600px);
    }
}

@keyframes bounce5 {
    0% {
        transform: translateY(1200px);
    }
}

@keyframes bounce6 {
    0% {
        transform: translateY(1600px);
    }
}

@keyframes bounce7 {
    0% {
        transform: translateY(1200px);
    }
}

@keyframes bounce8 {
    0% {
        transform: translateY(1600px);
    }
}

@keyframes bounce9 {
    0% {
        transform: translateY(1200px);
    }
}

@keyframes headerBass {
    0% {
        text-shadow: 0 0 50px blue;
        transform: scale(1);
    }

    25% {
        transform: scale(1);
    }

    50% {
        text-shadow: 0 0 50px green;
        transform: scale(1.03);
    }

    75% {

        text-shadow: 0 0 50px yellow;
        transform: scale(1);
    }

    100% {
        text-shadow: 0 0 50px red;
        filter: hue-rotate(360deg);
        transform: scale(1);
    }
}

@keyframes orbBass {
    0% {
        filter: hue-rotate(0deg);
        transform: scale(1);
        transform: translateX(-10px);
    }

    25% {
        transform: scale(1);
        transform: translateX(10px);
    }

    50% {
        filter: hue-rotate(180deg);
        transform: scale(2);
        transform: translateX(-80px);
    }

    75% {
        transform: scale(1);
        transform: translateX(-10px);
    }

    100% {
        filter: hue-rotate(360deg);
        transform: scale(1);
        transform: translateX(10px);
    }
}

@keyframes blinkOrb {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}